@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './reset.scss';

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: #ddd;
  --color-main: #0077ff;
  --color-main-soft: #e6f1fd;
  font-family: Roboto;
}
