@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './reset.scss';

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: #ddd;
  --color-main: #0077ff;
  --color-error: #f07152;
  --color-main-soft: #e6f1fd;
  font-family: Roboto;
}


a {
  text-decoration: none;
  color: var(--color-main);
}


h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-main);
}


input {
  border-radius: 20px;
  border: 2px solid var(--color-main-soft);
  padding: 10px;
}

button {
  background-color: var(--color-main);
  border: none;
  border-radius: 20px;
  height: 40px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
