@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './reset.scss';

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: #ddd;
  --color-main: #0077ff;
  --color-main-soft: #e6f1fd;
  font-family: Roboto;
}


a {
  text-decoration: none;
  color: var(--color-main);
}


input {
  border-radius: 20px;
  border: 2px solid var(--color-main-soft);
  padding: 10px;
}
