main.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    color: var(--color-main);
  }

  form {
    background: white;
    border-radius: 4px;
    padding: 40px 20px;
    min-width: 300px;
  }

  input {
    margin-bottom: 20px;
    font-size: 18px;
  }

  input, button {
    width: 100%;
    display: block;
  }

  span.error {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-error);
  }
}
